


@font-face {
	font-family: suir;
	src: url('../assets/suir.otf');

}

.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.con {
	border-top: 1px solid #eee;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0;
	background: #333;
}

#map {
	position: absolute;
	top: 0;
	left:18%;
	height: 100%;
	width: 82%;

}

.opt {
	position: absolute;
	top: 0;
	left: 0;
	width: 18%;
	height: 66%;
	top: 34%;
	background: #fff;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	
}

.heading {
	font-family: suir;
	position: relative;
	left:16%;
	 font-size: 1.25vw;
	letter-spacing: 0.3px;
	font-weight: 600;
	color: #404047;
	text-transform: capitalize;
}	
.line {
	position: relative;
	margin-top: 1.4vh;
	width: 74%;
	height: 1px;
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	opacity: 0.2;
}

.features {
	position: relative;
	top: 10%;
	left: 0;
	width: 74%;
	left: 50%;
	transform: translateX(-50%);
	height: 90%;
}
.ok {
	width: 48.5%;
	height: 5.95vh;
	border: 2px solid #579aef;
    font-family: suir;
    text-transform: uppercase;
    font-weight: 800;
    background: none;
    color: #579aef;
    font-size: 0.8vw;
    letter-spacing: 0.4px;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 4vh;

}

.ok:hover {
  background: #579aef;
  color: #fff;
  box-shadow: 1px 1px  1px #579aef;

}

.num-trucks {
	width: 100%;
	height: 20%;
	margin-top: 3vh;
	
	

}
.h {
	font-family: suir;
    top: 0;
    font-weight: 600;
    font-size: 0.8vw;
    position: relative;
    left: 0px;
    color: #404047;
    letter-spacing: .6px;
    text-transform: uppercase;
}
input {
	position: relative;
	top: 1.8vh;
	height: 6vh;
	text-transform: uppercase;
	border: none;
	border: 1px solid #ddd;
	width: 100%;
	font-size: 0.8vw; 
	font-family: suir;
	box-sizing: border-box;
	padding-left: 1vw;
	font-weight: 600;
	outline: none;
	transition: all 0.5s;
}
#dis {
	position: absolute;
    width: 100%;
    height: 8vh;
    bottom: 0px;
    background: #579aef;
    border: none;
    font-family: suir;
    font-weight: 600;
    color: #fff;
    font-size: 2.3vh;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-top: 2px solid #579aef;
}
.lfill {
	margin-top: 6vh;
	width: 100%;
	height: 20%;
	 

}
.tp {
	position: absolute;
	width: 100%;
	top: 41%;
	transform: translateY(-50%);

}

input:hover {
	border-color: #397aef;
}

input:active {
	border-bottom-color: #397aef;
}